[submodule "plugins/redmine_ckeditor"]
	path = plugins/redmine_ckeditor
	url = https://github.com/a-ono/redmine_ckeditor.git
[submodule "plugins/redmine_tags"]
	path = plugins/redmine_tags
	url = https://github.com/ixti/redmine_tags.git
[submodule "plugins/a_common_libs"]
	path = plugins/a_common_libs
	url = https://bitbucket.org/dkuk/a_common_libs.git
	branch = rm3.4
[submodule "plugins/ajax_counters"]
	path = plugins/ajax_counters
	url = https://bitbucket.org/dkuk/ajax_counters.git
[submodule "plugins/clipboard_image_paste"]
	path = plugins/clipboard_image_paste
	url = https://github.com/peclik/clipboard_image_paste.git
[submodule "plugins/quick_view"]
	path = plugins/quick_view
	url = git://git.sourceforge.jp/gitroot/quickedit/quick_view.git
[submodule "plugins/recurring_tasks"]
	path = plugins/recurring_tasks
	url = https://github.com/daltinn/redmine-plugin-recurring-tasks.git
[submodule "plugins/redmine_helpdesk"]
	path = plugins/redmine_helpdesk
	url = https://github.com/jfqd/redmine_helpdesk.git
[submodule "plugins/redmine_issues_tree"]
	path = plugins/redmine_issues_tree
	url = git@github.com:daltinn/redmine_issues_tree.git
[submodule "plugins/redmine_issue_templates"]
	path = plugins/redmine_issue_templates
	url = https://github.com/akiko-pusu/redmine_issue_templates.git
[submodule "plugins/redmine_knowledgebase"]
	path = plugins/redmine_knowledgebase
	url = https://github.com/alexbevi/redmine_knowledgebase.git
[submodule "plugins/redmine_lightbox2"]
	path = plugins/redmine_lightbox2
	url = https://github.com/paginagmbh/redmine_lightbox2.git
[submodule "plugins/sidebar_hide"]
	path = plugins/sidebar_hide
	url = https://github.com/bdemirkir/sidebar_hide.git
[submodule "plugins/redmine_theme_changer"]
	path = plugins/redmine_theme_changer
	url = https://github.com/haru/redmine_theme_changer.git
[submodule "plugins/redmine_trello_card_sync"]
	path = plugins/redmine_trello_card_sync
	url = https://github.com/hiroshiyui/redmine_trello_card_sync.git
[submodule "plugins/vault"]
	path = plugins/vault
	url = https://github.com/noshutdown-ru/vault
[submodule "plugins/redmine_issue_dynamic_edit"]
	path = plugins/redmine_issue_dynamic_edit
	url = https://github.com/Ilogeek/redmine_issue_dynamic_edit.git
[submodule "plugins/redmine_revision_branches"]
	path = plugins/redmine_revision_branches
	url = https://github.com/tleish/redmine_revision_branches.git
[submodule "plugins/event_notifications"]
	path = plugins/event_notifications
	url = https://github.com/jrupesh/event_notifications.git
[submodule "plugins/redmine_ics_export"]
	path = plugins/redmine_ics_export
	url = https://github.com/buschmais/redmics.git
[submodule "public/themes/PurpleMine2"]
	path = public/themes/PurpleMine2
	url = https://github.com/mrliptontea/PurpleMine2.git
[submodule "public/themes/redmine_alex_skin"]
	path = public/themes/redmine_alex_skin
	url = https://bitbucket.org/dkuk/redmine_alex_skin.git
[submodule "public/themes/flatly_light_redmine"]
	path = public/themes/flatly_light_redmine
	url = https://github.com/Nitrino/flatly_light_redmine.git
[submodule "public/themes/axiom"]
	path = public/themes/axiom
	url = https://github.com/hulihanapplications/axiom.git
[submodule "public/themes/redmine-theme-flat"]
	path = public/themes/redmine-theme-flat
	url = https://github.com/tsi/redmine-theme-flat.git
[submodule "plugins/issue_color_label"]
	path = plugins/issue_color_label
	url = https://github.com/bogdananton/Redmine-plugin-issueColorLabel.git
