[submodule "plugins/redmine_ckeditor"]
	path = plugins/redmine_ckeditor
	url = https://github.com/a-ono/redmine_ckeditor.git
[submodule "plugins/redmine_tags"]
	path = plugins/redmine_tags
	url = https://github.com/ixti/redmine_tags.git
[submodule "plugins/a_common_libs"]
	path = plugins/a_common_libs
	url = https://bitbucket.org/dkuk/a_common_libs.git
	branch = rm3.4
