[submodule "plugins/redmine_ckeditor"]
	path = plugins/redmine_ckeditor
	url = https://github.com/a-ono/redmine_ckeditor.git
[submodule "plugins/redmine_tags"]
	path = plugins/redmine_tags
	url = https://github.com/ixti/redmine_tags.git
[submodule "plugins/a_common_libs"]
	path = plugins/a_common_libs
	url = https://bitbucket.org/dkuk/a_common_libs.git
	branch = rm3.4
[submodule "plugins/ajax_counters"]
	path = plugins/ajax_counters
	url = https://bitbucket.org/dkuk/ajax_counters.git
[submodule "plugins/clipboard_image_paste"]
	path = plugins/clipboard_image_paste
	url = https://github.com/peclik/clipboard_image_paste.git
[submodule "plugins/quick_view"]
	path = plugins/quick_view
	url = git://git.sourceforge.jp/gitroot/quickedit/quick_view.git
[submodule "plugins/recurring_tasks"]
	path = plugins/recurring_tasks
	url = https://github.com/daltinn/redmine-plugin-recurring-tasks.git
[submodule "plugins/redmine_helpdesk"]
	path = plugins/redmine_helpdesk
	url = https://github.com/jfqd/redmine_helpdesk.git
[submodule "plugins/redmine_issue_dynamic_edit"]
	path = plugins/redmine_issue_dynamic_edit
	url = https://github.com/Ilogeek/redmine_issue_dynamic_edit.git
[submodule "plugins/redmine_issue_dynamic_edit"]
	path = plugins/redmine_issue_dynamic_edit
	url = https://github.com/Ilogeek/redmine_issue_dynamic_edit.git
[submodule "plugins/redmine_issues_tree"]
	path = plugins/redmine_issues_tree
	url = git@github.com:daltinn/redmine_issues_tree.git
[submodule "plugins/redmine_issue_templates"]
	path = plugins/redmine_issue_templates
	url = https://github.com/akiko-pusu/redmine_issue_templates.git
[submodule "plugins/redmine_knowledgebase"]
	path = plugins/redmine_knowledgebase
	url = https://github.com/alexbevi/redmine_knowledgebase.git
[submodule "plugins/redmine_lightbox2"]
	path = plugins/redmine_lightbox2
	url = https://github.com/paginagmbh/redmine_lightbox2.git
[submodule "plugins/sidebar_hide"]
	path = plugins/sidebar_hide
	url = https://github.com/bdemirkir/sidebar_hide.git
[submodule "plugins/redmine_theme_changer"]
	path = plugins/redmine_theme_changer
	url = https://github.com/haru/redmine_theme_changer.git
[submodule "plugins/redmine_trello_card_sync"]
	path = plugins/redmine_trello_card_sync
	url = https://github.com/hiroshiyui/redmine_trello_card_sync.git
[submodule "plugins/vault"]
	path = plugins/vault
	url = https://github.com/noshutdown-ru/vault
[submodule "plugins/redmine_category_tree"]
	path = plugins/redmine_category_tree
	url = https://github.com/bap14/redmine_category_tree.git
